.photo{
    &__image{        
        margin: 5rem auto;
        position: relative;
        background-image: url("/static/images/cvphoto.jpg");
        background-size: cover;
        background-position: center;
        height: 16rem;
        width: 16rem;    
        border-radius: 50%;

            &::before{
            content: "";
            @include absCenter ;           
            height: 125%;
            width: 125%;
            background-color: transparent;
            border-radius: 50%;
            border: 1.2rem solid $color-white;
            z-index: 0;
        }
    }
}